version: 1.0.0.{build}

platform: x64

branches:
  only:
    - windows_support

clone_folder: c:\gopath\src\github.com\mrluje\git-hooks

environment:
  GOPATH: c:\gopath
  ENV: test

install:
  - echo %PATH%
  - echo %GOPATH%
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - go version
  - go env
  - go get github.com/tools/godep
  - godep restore ./...

build_script:
  - go build

test_script:
  - go install
  - go test -v ./...

artifacts:
  - path: git-hooks.exe
    name: binary
